@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Roboto:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500');

body, html {
    font-family: "Montserrat";  /* just a custom font */
    font-size: 14px;
    background: rgba(236, 239, 243, 0.7);
}

a:-webkit-any-link{
    text-decoration:none !important;    /* do not underline links */
    color: black; !important;           /* give links a default color */
}


.background-login {
    background-size: cover;
    width: 100%;
    min-height: 100vh; 
    padding-top: 40px;
}

.box-login {
    max-width: 370px;
    margin: 0 auto;
    background: rgba(27, 27, 27, 0.85);
    padding: 20px;
    font-family: 'Roboto';
}

.box-login p {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}

.box-login h3 {
    text-align: center;
    color: #fff;
    font-weight: 200;
    font-size: 32px;
    margin-top: 12px;
    margin-bottom: 25px;
}

.logo-login {
    max-width: 150px;
    margin: 0 auto;
    padding-top: 40px;
    margin-bottom: 40px;
}

.logo-login h3{
    text-align: center;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
    line-height: 14px;
    color: #000;
}

.logo-login img {
    width: 150px;
}


.box-login .form-horizontal .checkbox {
    padding: 0px;
    min-height: 10px;
}

.box-login .checkbox label {
    color: #fff;
    font-size: 12px;
    font-size: 13px;
    line-height: 20px;
}

.box-login label a {
    color: #fff;
    text-align: right;
    font-weight: 400;
    font-size: 13px;
}

.box-login label.text-right {
    float: right;
}

.box-login .text-right {
    float: right;
}

.box-login .form-control{
    height: 40px;
    border-radius: 0px;
}

.button-login {
    width: 100%;
    padding: 12px;
    background: #b30000;
    border: 0px none;
    color: #fff;
    font-weight: 500;
    text-decoration: uppercase;
    margin: 10px 0px;
    font-size: 12px;
}

.box-login .form-control::-webkit-input-placeholder { 
  font-weight: 500;
  font-size: 12px;
}
.box-login .form-control::-moz-placeholder { 
  font-weight: 500;
  font-size: 12px;
}
.box-login .form-control:-ms-input-placeholder {
  font-weight: 500;
  font-size: 12px;
}
.box-login .form-control:-moz-placeholder { 
  font-weight: 500;
  font-size: 12px;
}
@media (max-width: 768px){
  .top {
    margin-top: 60px;
  }
}

   